@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

$font-huge: 5rem;
$font-large: 4rem;
$font-medium: 3rem;
$font-small: 1rem;

$font-family-1: "Montserrat", sans-serif;
$font-family-3: "EB Garamond", serif;
$font-family-2: "Playfair Display", serif;

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$cyan-color: #eadfdd;
$dark-color: #000;
// $primary-color: #eadfdd;
$primary-color-change: #dcc29c;
$secondary-color: #f2efeb;

body {
  background-color: $secondary-color;
  margin: auto 1rem;
}
// navbar
%transition {
  opacity: 0;
  transition: 0.3s ease-in all;
}
%opacity {
  opacity: 1;
  transform: translateY(10px);
}
%hover {
  position: absolute;
  content: "";
  height: 4px;
  width: 0%;
  background-color: $dark-color;
  left: 0;
  border-radius: 2px;
  transition: 0.3s ease all;
}
%flex-stack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  // position: absolute;
  // top: 1em;
  // left: 1em;
  margin-top: 0;
  width: 2em;
  // z-index: 999;
}
.headd {
  position: fixed;
  background: #dcc29c;
  top: 0;
  left: 0;
  width: 100%;
  // background: linear-gradient(#00000044, #0000004b),
  //   url("../../assets/Rectangle\ 3.png");
  padding: 0.3em 1em;
  // padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  h1 {
    font-family: $font-family-2;
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    font-family: "DM Serif Display", serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}
.headdd {
  background: #000;
  transition: 0.5s;
  h1 {
    color: white;
  }
}
.b {
  display: none;
}
.burger {
  // position: absolute;
  // top: 25px;
  // right: 25px;
  color: black;
  cursor: pointer;
  transform: scale(1.5);
  z-index: 999;
  display: flex;
  i {
    &:nth-of-type(1) {
      display: block;
    }
    &:nth-of-type(2) {
      display: none;
    }
  }
  &.burger-open {
    color: $dark-color;
    i {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $cyan-color;
  clip-path: circle(0px at 0 0px);
  transition: 0.5s ease all;
  z-index: 999;
  .nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family-1;
    padding: 0%;
    margin: 0%;
    text-align: center;
    li {
      list-style-type: none;
      margin: 3rem 0;
      &:nth-of-type(1) {
        @extend %transition;
        &.nav-link-open {
          @extend %opacity;
          transition-delay: 0.25s;
        }
      }
      &:nth-of-type(2) {
        @extend %transition;
        &.nav-link-open {
          @extend %opacity;
          transition-delay: 0.35s;
        }
      }
      &:nth-of-type(3) {
        @extend %transition;
        &.nav-link-open {
          @extend %opacity;
          transition-delay: 0.45s;
        }
      }
      &:nth-of-type(4) {
        @extend %transition;
        &.nav-link-open {
          @extend %opacity;
          transition-delay: 0.55s;
        }
      }
      &:nth-of-type(5) {
        @extend %transition;
        &.nav-link-open {
          @extend %opacity;
          transition-delay: 0.65s;
        }
      }
      a {
        text-decoration: none;
        color: $dark-color;
        font-size: $font-small;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        &::after {
          @extend %hover;
          bottom: -5px;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  &.nav-open {
    display: block;
    clip-path: circle(100%);
    z-index: 900;
  }
}
// navbar end
.landing-page {
  background: url("../../assets/simran222.jpg");
  background-color: $primary-color-change;
  background-size: cover;
  background-position: center;
  margin: auto -1rem;
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 60vh 30vh;
  color: rgb(255, 255, 255);
  .bttn {
    // width: fit-content;
  }
  .clss {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  img {
    width: 100%;
  }
  h1 {
    font-family: $font-family-2;
    font-size: $font-medium;
    font-size: 3rem;
    // font-size: 2.4rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  }
  h4 {
    font-family: $font-family-2;
    font-size: $font-small;
    text-align: center;
  }
  div:nth-of-type(1) {
    place-self: end center;
  }
  div {
    place-self: end;
    p {
      font-family: $font-family-1;
      color: white;
      text-align: center;
      padding: 0 2em;
      text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
.headingg {
  margin: 2em auto 1em;
  h1 {
    font-size: $font-large;
    font-family: $font-family-2;
    // color: $primary-color-change;
    color: #dac19c;
    text-shadow: 1px 1px 15px #dcc29c6b;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    margin-top: -44px;
    margin-left: 20px;
    text-shadow: 1px 1px 15px #dcc29c6b;
  }
}
.pg2 {
  div {
    margin-bottom: 1em;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.4s;
      overflow: hidden;
      // width: 90%;
      height: 10em;
      padding: -1em;
    }
  }
  p {
    display: block;
    margin: auto 0% auto auto;
    font-family: $font-family-1;
    align-items: flex-end;
    width: fit-content;
    background-image: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}
.services {
  position: relative;
  display: flex;
  img {
    object-fit: cover;
    width: 70%;
    height: 15em;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    &:hover {
      transform: scale(1.05);
      transition: 0.4s;
      content: "Hello";
    }
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .boxy {
    background: #2c2c2c;
    width: 10em;
    height: fit-content;
    position: absolute;
    right: 0;
    // border: 1px solid $secondary-color;
    top: 60%;
    // box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    h1 {
      padding: 0.7em;
      text-align: right;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #fff;
      width: fit-content;
      // text-decoration: underline;
      // line-height: 1.2;
      font-family: $font-family-2;
      font-size: 1.2em;
      color: white;
    }
    ul {
      list-style-type: circle;
      font-family: $font-family-1;
      color: white;
    }
  }
  &:nth-child(even) {
    justify-content: end;
    .boxy {
      right: auto;
      left: 0;
    }
  }
  margin-bottom: 4em;
}

.book {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary-color-change;
    background: linear-gradient(-90deg, #dab097 25%, $primary-color-change 20%);
    align-items: center;
    font-family: $font-family-1;
    text-align: right;
    padding: 0.7em;
    margin-bottom: 1em;
    h1 {
      display: flex;
      place-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      color: $secondary-color;
      border: 3px solid $secondary-color;
    }
    p {
      text-align: right;
      margin: 0;
      padding: 0;
    }
  }
}

.booking {
  margin: auto -1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000000;
  background: linear-gradient(#00000043, rgba(0, 0, 0, 0.404)),
    url("../../assets/img2.jpg");
  background-size: cover;
  background-position: center;
  font-family: $font-family-1;
  text-align: center;

  p {
    font-size: 0.99em;
    color: #fff;
    text-shadow: 1px 1px 35px rgb(0, 0, 0);
    padding: auto 1em;
  }
  h1 {
    font-size: 3rem;
    font-family: $font-family-2;
    // color: rgba(29, 28, 28, 0.89);
    // color: #2c2c2c;
    margin: 1rem;
    color: #000;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.397);
  }
  div p {
    font-size: 1em;
    color: #fff;
    text-shadow: 1px 1px 35px rgba(0, 0, 0, 0.63);
  }
  div h1 {
    font-size: 3em;
    color: #000;
    text-shadow: 1px 1px 35px rgb(0, 0, 0);
  }
}
.kigg {
  font-family: $font-family-1;
  margin-bottom: 2em;
  h1 {
    font-family: $font-family-2;
    border-bottom: 1px solid $primary-color-change;
    width: fit-content;
  }
  p {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  }
  .gal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 15px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
.bttn {
  display: block;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding: 0.5em 1em;
  border: 1px solid $primary-color-change;
  background: #00000000;
  color: $primary-color-change;
  width: 80%;
  margin-bottom: 1em;
  // background: rgba(255, 255, 255, 0.205);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dcc29c;
  &:hover {
    background: #00000046;
    color: #fff;
    transition: 0.4s;
    box-shadow: #dcc29c3d 0px 5px 30px;
    border: 1px solid #fff;
  }
}
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  font-family: $font-family-1;
  padding-bottom: 0;
  img {
    border-radius: 50% 0;
    border: 10px solid $primary-color-change;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 10px;
    width: 100%;
    height: 100%;
  }
  p {
    text-shadow: 1px 1px 38px rgba(0, 0, 0, 0.3);
  }
}
.form__group {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 1em 0 0;
  margin-top: 10px;
  margin: 2em;
  margin-left: 0;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #fff;
}

.form__field:focus ~ .form__label {
  color: #dab097;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #dab097;
}
.booking1 {
  margin: auto -1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000000;
  background: linear-gradient(#8f064f4b, #b9067d40),
    url("../../assets/DSC05130.JPG");
  background-size: cover;
  background-position: center;
  font-family: $font-family-1;
  text-align: center;
  p {
    font-size: 0.8em;
  }
  h1 {
    font-size: $font-medium;
    font-family: $font-family-2;
    color: rgba(29, 28, 28, 0.89);
    margin-top: 1em;
  }
  div p {
    font-size: 1em;
  }
  div h1 {
    font-size: 2em;
    color: #fff;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  margin: auto -1em;
  font-family: $font-family-1;
  padding: 1em;
  color: white;
  margin-top: 1em;
  // border: 1px solid red;
  div {
    align-self: start;
    margin-bottom: 1em;
    a {
      color: $primary-color-change;
      &:hover {
        color: $secondary-color;
      }
    }
    h1 {
      color: $primary-color-change;
      font-family: $font-family-2;
      padding-bottom: 0.3em;
      border-bottom: 2px solid #dab097;
      width: fit-content;
      margin-bottom: 0.7em;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
    }
    img {
      width: 10%;
    }
  }
  .line {
    border-bottom: 1px solid #000;
  }
  a {
    color: #dab097;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    i {
      &:hover {
        cursor: pointer;
        color: #dab097;
      }
    }
  }
}
hr.new5 {
  border: 1px solid #dab097;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 1em;
}
// select tag
.optn {
  details {
    position: relative;
    // width: fit-content;
    margin-right: 1rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
  }
  .bttn {
    margin: 0%;
  }

  details[open] {
    z-index: 1;
  }

  summary {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
    gap: 1em;
    margin: 1em auto;
    background-color: #dcc29c;
    cursor: pointer;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 15px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 15px;
      background: #dabb8c;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  summary:after {
    content: "";
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(-45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
  }

  summary:focus {
    outline: none;
  }

  details[open] summary:after {
    transform: rotate(135deg) translate(0%, 0%);
  }

  ul {
    width: 100%;
    background: #ddd;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  /* FAKE SELECT */

  ul.list {
    counter-reset: labels;
  }

  label {
    width: 100%;
    display: block;
    cursor: pointer;
  }
}
